@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}

h1 {
    color: #141414;

    font-weight: 700;
    font-size: 48px;
}

h2 {
    color: #141414;

    font-weight: 700;
    font-size: 16px;
}

h3 {
    color: #632BFF;

    font-weight: 700;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.body-p {
    color: #505050;

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
}

.br-6 {
    border-radius: 6px;
}

.btn {
    background-color: #632BFF;
    border: 2px solid transparent;
    display: inline-flex;
    padding: 14px 24px;

    color: #fff;
    font-weight: 600;
    font-size: 18px;
    transition: all 0.5s ease;
}

.secondary-btn {
    background-color: transparent;
    border: 2px solid #632BFF;

    color: #632BFF;
}

.btn:hover {
    transform: scale(1.04);
    cursor: pointer;
}

/* ---------------------------- Default Settings ---------------------------- */

/* --------------------- NAVBAR --------------------- */

nav {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: #F5F5F5;
    padding: 8px;
}

.navbar-icons {
    background-color: #F5F5F5;
    background-repeat: no-repeat;
    background-position: center;
    
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    padding: 14px 24px;
    transition: all 0.3s ease-out;
}

.navbar-icons:hover {
    background-color: #fff;
    cursor: pointer;
}